sherpa[sherpa-component="exception"]
  $gap: 25px

  font-family: sans-serif

  padding: 25px 100px

  display: block

  *
    margin: 0
    padding: 0

    box-sizing: border-box

  > .sherpa-content
    display: flex
    flex-direction: column
    row-gap: $gap

    > header
      @extend .ui-container

      > h1
        font-size: 2rem
        font-weight: 300

        margin-bottom: 10px

      > p.source
        font-size: .8rem
        font-weight: 500
        font-family: monospace

    > .content-body
      display: flex
      column-gap: $gap

      > aside,
      > main
        @extend .ui-container

      > aside
        flex: none

        display: flex
        flex-direction: column
        row-gap: 10px

        padding: 0!important

        > h2.section-title
          text-transform: uppercase
          font-size: .7rem
          color: grey
          text-align: center

          padding: 10px 20px 0

        > .trace-element
          padding: 10px 20px

          background-color: transparent

          &:hover
            background-color: #f3f3f3

          > p
            font-family: monospace

            &.function
              font-weight: 600

            &.source
              font-weight: 400
              color: grey
              font-size: .8rem

      > main
        flex: 1

        > p.message
          font-weight: 500


  .ui-container
    border: 1px solid #ff8585
    border-radius: 20px

    padding: 20px

    font-weight: bolder

    overflow: hidden